@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-allegra-cream text-allegra-green overflow-x-hidden;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif tracking-tight;
  }
}

@layer utilities {
  /* Efecto de cristal esmerilado elegante (Glassmorphism) */
  .glass-card {
    @apply bg-allegra-snow/80 backdrop-blur-md border border-allegra-beige/50;
  }

  .glass-dark {
    @apply bg-allegra-green/90 backdrop-blur-md border border-allegra-gold/20 text-allegra-cream;
  }

  /* Ocultar barra de desplazamiento en carruseles manteniendo funcionalidad */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}